

<head>
<div class="jumbotron">
    <div class="text-center">
  <h1>Radical Morphophonemics</h1>
  <h3>The growing list of words with similar roots that are pronunced differently. <a href="/about"> Learn more here.</a> </h3>
    </div>
</div>
</head>

<body>
<div class="container mt-3">
<!-- Table of all the word pairs -->
<table class='table'>
    <thead class="table-dark">
        <tr>
        <th>Word #1</th>
        <th>Pronunciation</th>
        <th>Word #2</th>
        <th>Pronunciation</th>
      </tr>
    </thead>

  <% @words.each do |wordPair| %>
  
    
    <tr>
    <th>
    <!-- link words to the detail view -->
    <a href="/words/<%= wordPair.id %>">
        <%= wordPair.word1 %></a>
    </th>
    <th> <%= wordPair.phonetic1 %> </th>
    
   
    <th>
    <a href="/words/<%= wordPair.id %>">
        <%= wordPair.word2 %></a>
    </th>
    <th> <%= wordPair.phonetic2 %> </th>

    </tr>
    
   
    
  <% end %>
 
  </table>

  <h4>Have an idea for another word pair?
  <%= link_to "Submit it here.", new_word_path %> </h4>

</div>
 </body>

