<h1>Detail View!</h1>

<p><%= @wordPair.word1 %></p>
<p>
<a href='<%=@wordPair.pronunciation1URL%>'> <%= @wordPair.phonetic1 %> </a>
</p>
<p><%= @wordPair.word2 %></p>
<p>
<a href='<%=@wordPair.pronunciation2URL%>'> <%= @wordPair.phonetic2 %> </a>
</p>