<div>
    <a href="/words"> <h1>Radical Morphophonemics</h1></a>
<h3>Detail View</h3>

<p><%= @wordPair.word1 %></p>
<p><%= @wordPair.phonetic1 %></p>
<audio src='<%=@wordPair.pronunciation1URL%>' controls> </audio>
<p><%= @wordPair.word2 %></p>
<p><%= @wordPair.phonetic2 %></p>
<audio src='<%=@wordPair.pronunciation2URL%>' controls> </audio>
<div>